
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Artifika');
@import url('https://fonts.googleapis.com/css?family=Dancing Script');
@import url('https://fonts.googleapis.com/css?family=Shojumaru');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#whitebackground{
  background-color: #ffffff;
  text-align: center;
  height: auto;
}

html, body {
    background: linear-gradient(to bottom, #ffff00 0%, #669900 100%);
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
h1{
  color: #00cc00;
  text-shadow: 1px 1px #006600;
  font-family: 'Shojumaru', sans-serif;
  font-size: 3.5rem;
  text-align: center;
  line-height: 4rem;
}
@media(max-width:768px){
  h1 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}
h2{
  color: #660066;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
h3{
  color: #ff0000;
  text-shadow: 1px 1px #4d0000;
  text-align: center;
  font-family: 'Dancing Script', sans-serif;
  font-size: 36px;
}
h4{
  color: #ff0000;
  text-shadow: 0.5px 0.5px #4d0000;
  text-align: center;
  font-family: 'Artifika', sans-serif;
  font-size: 24px;
}
/*navigation*/
.btn-danger {
  border-radius: 0;
  background-color: #990033;
  border: none;
}
.btn-primary {
  border-radius: 0;
  background-color: #3333ff;
  border: none;
}
#colorPurple{
  color: #b300b3;
  font-size: 20px;
}
#hrGold{
  border: 3px solid #ff9900;
  padding: 0;
  margin: 0;
}

#hrGreen{
    border: 1px solid #006600;
    padding: 0;
    margin: 0;
}
#linkGreen{
  color: #00b300;
  font-size: 20px;
}
#linkRed{
  color: #b30000;
  font-size: 20px;
}
.imageHome img {
    -webkit-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}
.imageHome img:hover {
    -webkit-transform: scale(1.2) rotate(12deg);
    -ms-transform: scale(1.2) rotate(12deg);
    transform: scale(1.2) rotate(12deg);
}

//user's account page
.col4created{
  background-color: #006600;
  padding: 1.5%;
}
.col12created1{
  background-color: #e600ac;
  color: #ffffff;
  text-shadow: 0.8px 0.8px #66004d;
  border-radius: 10px;
  height: 100%;
  text-align: center;
  margin-left: 25%;
  padding: 2%;
}
.btn1{
    background-color: #e600ac;
    color: #ffffff;
    text-shadow: 0.8px 0.8px #66004d;
    border-radius: 10px;
    height: 100%;
    text-align: center;
    padding: 2%;
}
.btn2{
    background-color:  #33cc33;
    color: #ffffff;
    text-shadow: 0.8px 0.8px #66004d;
    border-radius: 10px;
    height: 100%;
    text-align: center;
    padding: 2%;
}
.btn3{
    background-color: #ffff00;
    color: #ffffff;
    text-shadow: 0.8px 0.8px #66004d;
    border-radius: 10px;
    height: 100%;
    text-align: center;
    padding: 2%;
}
.bg_tb {
    background-color: #006600;
}
.bg_box {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 2%;
}
//.col12created2{
//  background-color: #33cc33;
 // color: #ffffff;
 // text-shadow: 0.8px 0.8px #66004d;
//  border-radius: 10px;
 // height: 100%;
//  text-align: center;
//  margin-left: 25%;
//  padding: 2%;
//}
.col4create{
  background-color: #006600;
  padding: 1.5%;
}
.col12create{
  background-color: #ffffff;
  border-radius: 10px;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.bg_list {
    background-color: #ffffff;
    border-radius: 10px;
    height: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.dropdown_icons ul.list-group{
    border-style: none;
}

.table_shoppinglist {
    background-color: #FFFFFF;
}
.table_shoppinglist:hover {
    background-color: #b3ffcc;
}
.home_categories li a{
  font-size: 1.4rem;
  padding: .9rem;
}
